<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="chemins" type="SectionRecherche.CheminSection, SectionRecherche"/>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <chemins name="Lalana">
    <chemin source="C:\Users\ezer\Downloads" recherche="Compressed"/>
    <chemin source="E:\test" recherche="izy"/>
  </chemins>
  
</configuration>